{% extends 'game/base.html' %}

{% block title %}{{ game.current_location }}{% endblock %}

{% block navbar %}
<nav>
    <div>
        <span>{{ game.current_location }}</span>
    </div>
    <div>
        <a href="{% url 'saved_games' %}">PAUSE</a>
    </div>
</nav>
{% endblock %}

{% block content %}
{% comment %} CARGO START {% endcomment %}
<div>
    <table>
        <tr>
            <td>Cargo</td>
            <td>In Hold</td>
            <td>Warehouse</td>
        </tr>
        <tr>
            <td>Opium</td>
            <td>{{ game.opium_ship }}</td>
            <td>{{ game.opium_wh }}</td>
        </tr>
        <tr>
            <td>Silk</td>
            <td>{{ game.silk_ship }}</td>
            <td>{{ game.silk_wh }}</td>
        </tr>
        <tr>
            <td>Arms</td>
            <td>{{ game.arms_ship }}</td>
            <td>{{ game.arms_wh }}</td>
        </tr>
        <tr>
            <td>General</td>
            <td>{{ game.general_ship }}</td>
            <td>{{ game.general_wh }}</td>
        </tr>
        <tr>
            <td>Vacant</td>
            <td>{{ game.vacant_ship }}</td>
            <td>{{ game.vacant_wh }}</td>
        </tr>
    </table>
</div>
{% comment %} CARGO END {% endcomment %}
{% comment %} CASH START {% endcomment %}
<div>
    <span>-----------------------------------</span>
    <table>
        <tr>
            <td>Cash:</td>
            <td>{{ game.cash }}</td>
            <td>|</td>
            <td>{{ game.month }}</td>
            <td>{{ game.year }}</td>
        </tr>
        <tr>
            <td>Bank:</td>
            <td>{{ game.bank }}</td>
            <td>|</td>
            <td>Ship:</td>
            <td>{{ game.ship_health }}%</td>
        </tr>
        <tr>
            <td>Debt:</td>
            <td>{{ game.debt }}</td>
            <td>|</td>
            <td>Guns:</td>
            <td>{{ game.guns }}</td>
        </tr>
    </table>
</div>
{% comment %} CASH END {% endcomment %}
{% comment %} SPOT START {% endcomment %}
<div>
    <span>-----------------------------------</span>
    <table>
        <tr>
            <td>Spot:</td>
            <td>Opium:</td>
            <td>{{ game.opium_spot }}</td>
            <td>Silk:</td>
            <td>{{ game.silk_spot }}</td>
        </tr>
        <tr>
            <td></td>
            <td>Arms:</td>
            <td>{{ game.arms_spot }}</td>
            <td>General:</td>
            <td>{{ game.general_spot }}</td>
        </tr>
    </table>
</div>
{% comment %} SPOT END {% endcomment %}
{% comment %} NAVIGATION START {% endcomment %}
<div style="background-color: green; color: red;">
    <a href="{% url 'game' pk=game.game.id date=game.date %}/?new_location=HK">Hong Kong</a>
    <a href="{% url 'game' pk=game.game.id date=game.date %}/?new_location=SH">Shanghai</a>
    <a href="{% url 'game' pk=game.game.id date=game.date %}/?new_location=NS">Nagasaki</a>
    <a href="{% url 'game' pk=game.game.id date=game.date %}/?new_location=SG">Saigon</a>
    <a href="{% url 'game' pk=game.game.id date=game.date %}/?new_location=MN">Manila</a>
    <a href="{% url 'game' pk=game.game.id date=game.date %}/?new_location=SP">Singapore</a>
    <a href="{% url 'game' pk=game.game.id date=game.date %}/?new_location=BV">Batavia</a>
</div>
{% comment %} NAVIGATION END {% endcomment %}

{% endblock %}