{% extends 'base.html' %}

{% block title %}Saved Games{% endblock %}

{% block navbar %}
<nav>
    <div>
        <span>SAVED GAMES</span>
    </div>
    <div>
        <a href='#'>+</a>
    </div>
</nav>
{% endblock %}

{% block content %}
{% comment %} CARGO START {% endcomment %}
<div>

</div>
{% comment %} CARGO END {% endcomment %}
{% comment %} CASH START {% endcomment %}
<div>

</div>
{% comment %} CASH END {% endcomment %}
{% comment %} MESSAGE START {% endcomment %}
<div>

</div>
{% comment %} MESSAGE END {% endcomment %}
{% comment %} NAVIGATION START {% endcomment %}
<div>

</div>
{% comment %} NAVIGATION END {% endcomment %}

{% endblock %}